name: Automated API tests using Newman CLI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
jobs:
 test-api:
  runs-on: ubuntu-latest 
  steps:
  # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
   - uses: actions/checkout@v3
   - name: Create dir 
     run: | 
        mkdir TestArtifact
  
  # Install Node on the runner
   - name: Install Node
     uses: actions/setup-node@v3 
     with:
      node-version: '16.x'
  
  # Install newman globally, the reporter for slack and install the html extra reporter
   - name: Install newman
     run: |
      npm install -g newman      
      npm install -g newman-reporter-htmlextra
  
  # Run the POSTMAN collection
   - name: Run Tests
     run: newman run "My Collection.postman_collection.json" -r cli, htmlextra --reporter-htmlextra-export testArtifacts/htmlreport.html
    # Upload the reports to TestArtifacts directory
   - name: Output the results 
     uses: actions/upload-artifact@v3 
     with:
          name: Reports 
          path: testArtifacts
         
